.m-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    z-index: 40;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#backtop {
    position: fixed;
    left: auto;
    right: 20px;
    top: auto;
    bottom: 50px;
    outline: none;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: #ff6600;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s linear;
    z-index: 999999;
    opacity: 1;
    display: none;
}

#backtop:hover {
    background-color: #27CFC3;
}

#transloader {
    position: fixed;
    top: 40%;
    left: 30%;
    color: #FF00CC;
    font-size: 3em;
    z-index: 999;
    display: none;
}

.lin-markdown h1 {
    text-align: center;
}

.lin-markdown img {
    max-width: 60%;
    height: auto;
    max-height: 400px;
}

.lin-markdown hr {

    background: rgb(194, 235, 248);
}

.lin-markdown pre {
    background: rgba(0, 0, 0, .9);
    color: whitesmoke;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 2px solid gray;
}

#Errsdiv {
    margin: 0 auto;
    left: 20%;
    text-align: center;
    width: 60%;
    position: fixed;
    z-index: 100;
    top: 6%;
}

.share {
    z-index: 1000;
    position: fixed;
    bottom: 40px;
    left: 15px;
    top: auto;
    height: 40px;
    width: 40px;
    padding: 5px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
}

#notifications {
    z-index: 1;
    position: absolute;
    opacity: .9;
    right: -30%;
    width: 30%;
    min-height: 250px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#notfyToggler:checked~#notifications {
    right: 0;
}

.share-me {
    cursor: pointer;
}

#p-reload,
#p-loading {
    z-index: 1000;
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    text-align: center;
    vertical-align: center;
    padding: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ng-enter,
.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

.ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

#loading-bar .bar {
    background: rgb(221, 34, 75);
}

#loading-bar-spinner .spinner-icon {
    border-top-color: rgb(221, 34, 75);
    border-left-color: rgb(221, 34, 75);
}

@keyframes marquee {
    0% {
        text-indent: 100%
    }

    100% {
        text-indent: -100%
    }
}

@-webkit-keyframes marquee {
    0% {
        text-indent: 100%
    }

    100% {
        text-indent: 0%
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    -webkit-animation: marquee 17s linear infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#on-stats {
    width: 70px;
    position: fixed;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
    z-index: 10000;
}

#notofybtn {

    cursor: pointer;
}

.markdown-toolbar .btn {
    cursor: pointer;
}

.markdown-toolbar .btn:hover {
    background: oldlace;
}

#notofybtn:hover {
    padding-bottom: 5px;
    color: bisque;
    border-bottom: 2px solid orange;
}

#notfyToggler {
    display: none;
}

[ng-quill-editor] {
    display: block;
}

@media screen and (max-width:650px) {
    #notifications {
        right: -80%;
        width: 80%;
    }

    #notfyToggler:checked~#notifications {
        right: 0;
    }
}
