<div class="row">
    <div class="col-12">
        <form ng-submit="addTopic()" class="form my-3">
            <div class="form-group">
                <div>
                    <input type="text" placeholder="Enter Title" class="form-control" ng-model="tutorial.title">
                    <span class="text-danger" ng-if="errs.title">{{errs.title[0]}}</span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <a ui-sref="a_tuts.all" class="btn btn-primary"><span class="fa fa-angle-left"></span> Back to
                        Tutorials</a>
                    <input type="submit" value="Add" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </div>
</div>
