<div class="mt-2 p-2 pb-5">
    <form class="form py-3" ng-submit="editApp()">
        <div class="form-group">
            <div class="div">
                <input type="text" class="form-control" ng-model="myapp.app_name" placeholder="Enter App Name" />
                <span ng-if="errs.app_name" class="text-danger">{{errs.app_name[0]}}</span>
            </div>
        </div>
        <div class="form-group">
            <input id="keyscheck" type="checkbox" ng-model="ref_keys" ng-true-value="1" ng-false-value="0"
                class="form-check-control">
            <label for="keyscheck" class="form-check-label">Edit Client Id and Secret</label>
        </div>
        <div class="form-group mb-2">
            <input type="submit" ng-disabled="isSubmiting" value="Save" class="btn btn-lg btn-primary float-right">
        </div>
    </form>
</div>
